* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Fauna One', Serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.7;
  background-color: #eeeeee; }

.heading-primary {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 3.5rem;
  text-align: center;
  position: relative; }
  .heading-primary__main {
    display: block;
    font-size: 10rem;
    letter-spacing: 2rem;
    margin-bottom: 0; }
  .heading-primary__sub {
    display: block;
    font-size: 2rem;
    width: 100%;
    text-transform: capitalize;
    margin-bottom: 4rem; }

.heading-secondary {
  text-transform: capitalize; }
  .heading-secondary--main {
    font-size: 6.5rem; }
  .heading-secondary--sub {
    font-size: 3.2rem; }
  .heading-secondary--gray {
    color: #282828; }
  .heading-secondary--white {
    color: #fff; }

.paragraph {
  color: #2e3338;
  font-size: 2rem;
  padding-top: 2rem;
  margin-bottom: 2rem; }
  .paragraph__list {
    color: #858689; }

.heading-tertiary {
  font-size: 2.5rem;
  text-transform: capitalize; }

.u-margin-right {
  margin-right: 1rem; }

.u-margin-bottom {
  margin-bottom: 1rem; }

.u-margin-top {
  margin-top: 1rem; }

.u-margin-bottom--big {
  margin-bottom: 4rem; }

.u-margin-top--big {
  margin-top: 4rem; }

.u-center {
  text-align: center; }

.u-align-right {
  text-align: right !important;
  display: block; }

.u-border-bottom {
  border-bottom: 2px solid #ed4f2c; }

.button:link, .button:visited {
  font-size: 1.7rem;
  text-decoration: none;
  font-weight: 700;
  border: none; }

.button--orange {
  color: #fff;
  padding: 1.5rem 4rem;
  background-color: #ed4f2c;
  border-radius: 7px;
  text-transform: uppercase;
  border: none;
  font-size: 1.7rem;
  font-weight: 700; }

.button--arrow {
  color: #ed4f2c;
  text-transform: capitalize; }
  .button--arrow i {
    padding-left: 1rem; }

.button:not(:disabled) {
  cursor: pointer; }

.card {
  position: relative;
  margin: auto; }
  .card__image-img {
    width: 43rem;
    border-radius: 10px; }
  .card__text {
    max-width: 50%;
    position: absolute;
    top: 9rem;
    right: 1.3rem;
    background-color: #fff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
    padding: 7rem 10rem;
    border-radius: 10px; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    position: absolute;
    transition: all .4s;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2); }
    .composition__photo--1 {
      left: 0;
      top: -4rem; }
    .composition__photo--2 {
      right: 0;
      top: 1rem; }
    .composition__photo--3 {
      left: 10rem;
      top: 8rem; }
    .composition__photo:hover {
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
      transform: scale(1.1);
      z-index: 1; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.form {
  background-color: #fff;
  padding: 5rem;
  box-sizing: border-box;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  max-width: 70%;
  margin: auto; }
  .form__input {
    border: 1px solid #333;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1.5rem; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.1);
      border-bottom: 2px solid #682188; }
    .form__input:focus:invalid {
      border-bottom: 2px solid #ed4f2c; }
  .form__name-group {
    display: flex;
    gap: 1rem; }
  .form__name--input {
    min-width: 47%; }
  .form__input--info {
    display: block;
    min-width: 100%; }
  .form__textarea {
    width: 100%;
    display: block;
    margin-bottom: 1.5rem;
    border: 1px solid #333;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400; }

.leader {
  display: flex;
  justify-content: space-between; }
  .leader__box {
    width: 30%;
    background-color: #fff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
    padding: 5rem 0;
    text-align: center;
    position: relative;
    color: #171717;
    border-radius: 1rem; }
  .leader__image {
    background-image: linear-gradient(to right top, rgba(104, 33, 136, 0.1), rgba(237, 79, 44, 0.1)), url(../img/bishop.png);
    background-size: cover;
    background-position: top;
    height: 30rem;
    clip-path: circle(43% at 50% 50%);
    overflow: hidden;
    margin-bottom: 2rem; }
  .leader__email {
    color: #ed4f2c;
    font-size: 1.6rem;
    font-weight: 700; }
  .leader .name {
    display: block;
    font-weight: 100; }

.footer {
  background-color: #171717;
  padding: 5rem 0; }
  .footer__box {
    text-align: center; }
  .footer__socials {
    text-align: center;
    border-top: 1px solid #fff;
    padding-top: 3.5rem; }
    .footer__socials-icons {
      color: #fff; }
      .footer__socials-icons:not(:last-child) {
        margin-right: 2rem; }
      .footer__socials-icons .fa {
        font-size: 2.3rem; }
  .footer__copyright {
    margin-top: -4rem;
    text-align: center;
    text-transform: capitalize; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + (2 * 6rem)); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }

.header__navigation {
  background-color: #fff;
  padding: 0 5rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem; }
  .header__navigation-list {
    display: flex;
    align-items: center; }
  .header__navigation-logo {
    height: 7rem; }
  .header__navigation-item {
    display: block; }
    .header__navigation-item-logo {
      margin-right: auto; }
  .header__navigation-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #682188;
    margin-right: 9rem;
    font-weight: 700; }

.section-showcase {
  background-size: cover;
  background-position: center;
  position: relative; }
  .section-showcase--home {
    background-image: linear-gradient(to right top, rgba(104, 33, 136, 0.1), rgba(237, 79, 44, 0.1)), url(../img/showcase-2.jpg);
    border-radius: 1rem;
    height: 82vh; }
  .section-showcase--sub {
    background-image: linear-gradient(to right top, rgba(104, 33, 136, 0.5), rgba(237, 79, 44, 0.5)), url(../img/showcase-about.jpg);
    height: 40vh; }
  .section-showcase .text-box {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .section-showcase .text-box--home {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.section-about {
  padding: 10rem 0; }

.section-invite {
  background-image: linear-gradient(to right top, rgba(104, 33, 136, 0.4), rgba(237, 79, 44, 0.4)), url(../img/worship-1.jpg);
  background-size: cover;
  background-position: center;
  padding: 15rem 0;
  position: relative;
  margin-bottom: 5rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2); }
  .section-invite .invite-box {
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }

.section-info {
  padding: 10rem 0;
  display: inline-flex;
  justify-content: space-around; }
  .section-info__box {
    width: 30%; }

.section-beliefs {
  padding: 5rem; }
  .section-beliefs__heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem; }
  .section-beliefs .box {
    margin-bottom: 7rem; }

.section-who {
  padding: 10rem 0; }
  .section-who__box {
    text-align: center; }

.section-form {
  color: #282828;
  text-transform: capitalize; }

.section-map {
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .section-map iframe {
    width: 85%;
    height: 50rem; }

.section-media {
  padding: 15rem 0; }

.section-leadership {
  padding: 10rem 0; }
