* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Camber', Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: #f5f5f5; }

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 3rem;
  z-index: 1; }
  .heading-primary--main {
    font-size: 5.5rem;
    letter-spacing: 2rem;
    display: block;
    font-weight: 400;
    margin-bottom: .5rem; }
  .heading-primary--sub {
    font-size: 2rem;
    letter-spacing: .6rem;
    display: block;
    font-weight: 700; }

.heading-secondary {
  color: #132f3e;
  font-size: 4rem;
  text-transform: capitalize; }
  .heading-secondary--main::after {
    content: '';
    border-bottom: 3px solid #ffa500;
    width: 10px;
    display: block;
    margin: .5rem auto; }
  .heading-secondary--white {
    color: #ffffff;
    font-size: 3rem; }
  .heading-secondary--contact {
    color: #ffffff;
    font-size: 5rem; }
    .heading-secondary--contact-sub {
      color: #333;
      font-size: 3rem; }
  .heading-secondary--about {
    color: #333333;
    font-size: 2.6rem; }

.heading-tertiary {
  font-size: 1.6rem;
  color: #ffffff;
  text-transform: uppercase; }
  .heading-tertiary--footer {
    font-size: 2.5rem;
    margin-bottom: 2rem; }
    .heading-tertiary--footer-sub {
      margin-bottom: 2rem; }
  .heading-tertiary--contact {
    font-size: 2rem;
    margin-bottom: .5rem;
    color: #333; }
  .heading-tertiary--about {
    color: #ffffff;
    font-size: 2.2rem;
    margin-bottom: 2rem; }

.paragraph {
  color: #333333;
  font-size: 2.2rem; }
  .paragraph--info {
    color: #ffffff;
    font-size: 3rem;
    width: 70%;
    margin: auto; }
  .paragraph--footer {
    font-size: 1.6rem;
    color: #999;
    line-height: 1.8; }
  .paragraph--copyright {
    font-size: 1.5rem;
    color: #999;
    margin-top: 3rem;
    text-align: center;
    text-transform: uppercase; }
  .paragraph--contact {
    color: #ffffff;
    font-size: 2.3rem; }
  .paragraph--form {
    color: #333333;
    font-size: 2rem; }
  .paragraph--about {
    color: #333333;
    font-size: 2rem; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-bottom {
  margin-bottom: 6rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

.margin-auto {
  margin: 0 auto; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 1.5rem 4rem;
  text-decoration: none;
  border-radius: 7px;
  display: inline-block;
  text-shadow: 0 0.1rem 0 #000000;
  font-weight: 700;
  box-shadow: inset 0 0.5px 0 0 #000000;
  transition: all .2s ease;
  color: #ffffff; }

.btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }

.btn--orange {
  background-color: #ffa500;
  color: #ffffff; }
  .btn--orange:not(:last-child) {
    margin-right: 20px; }

.btn-text:link, .btn-text:visited {
  font-size: 1.8rem;
  color: #ffb217;
  text-decoration: none;
  border-bottom: 1px solid #ffb217;
  padding: .5rem;
  transition: all .2s; }

.btn-text:hover {
  color: #ffffff;
  background-color: #ffb217a1;
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.btn-border:link, .btn-border:visited {
  font-size: 1.8rem;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #636363;
  padding: 1.5rem 1rem;
  display: inline-block;
  transition: all .2s;
  width: 15rem; }

.btn-border:hover {
  color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.btn-border:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.bg-media {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 0;
  background-position: center;
  background-size: cover;
  opacity: .9; }
  .bg-media__content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .7; }
  .bg-media--contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/showcase-contact.jpg"); }
  .bg-media--about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/showcase-about.jpg"); }

.title {
  font-size: 2rem;
  color: #ffa500;
  text-transform: capitalize;
  position: absolute;
  top: 5rem;
  left: 5rem; }

.counters {
  font-size: 1.5rem;
  counter-reset: counter-name;
  margin-bottom: 3rem; }

.heading {
  position: relative; }

.heading::before {
  counter-increment: counter-name;
  content: counter(counter-name);
  position: absolute;
  left: -4rem;
  top: -.1rem;
  background-color: #fff;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid lightgrey;
  color: lightgrey;
  box-sizing: border-box;
  border-radius: 50%; }

.about-detail {
  padding: 5rem 0; }

.detail {
  height: 85vh;
  display: flex;
  justify-content: space-between; }
  .detail__image {
    width: 33%;
    height: 85vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/about-1.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    padding: 20rem 5rem 5rem; }
  .detail__box {
    width: 60%;
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center; }
    .detail__box-text {
      width: 45%; }

.footer {
  background-color: #151515;
  padding: 10rem 8rem; }
  .footer__box {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 5rem 5rem; }
    .footer__box-one {
      width: 40%; }
    .footer__box-two {
      width: 20%; }
    .footer__box-thee {
      width: 20%; }
    .footer__box-four {
      width: 20%; }
  .footer__link {
    text-decoration: none;
    color: #999;
    font-size: 1.6rem; }
  .footer__navigation {
    list-style: none; }
    .footer__navigation-item {
      padding-bottom: .7rem; }
    .footer__navigation-link {
      text-decoration: none;
      font-size: 1.5rem;
      color: #999; }
  .footer__input {
    background-color: #151515;
    border: none;
    outline: none;
    border-bottom: 1px solid #999;
    display: block;
    padding: 0 0 1.5rem 0;
    font-size: 1.5rem;
    margin-bottom: 1.4rem; }
  .footer__button {
    font-size: 1.8rem;
    color: #000000;
    text-decoration: none;
    border: 1px solid #323234;
    padding: .5rem 1rem;
    border-radius: 6px;
    cursor: pointer; }
  .footer__social {
    list-style: none;
    margin-top: 2rem; }
    .footer__social-item {
      display: inline-block;
      margin-right: 1rem; }
    .footer__social-icon {
      color: #ffffff;
      font-size: 3.6rem; }

.form {
  width: 60%; }
  .form__label {
    font-size: 2.2rem;
    text-transform: capitalize;
    color: #333333;
    display: block;
    margin-bottom: 1rem; }
  .form__input {
    display: block;
    width: 95%;
    border: 1px solid #cfd4d8;
    background-color: #ffffff;
    padding: .65rem;
    font-size: 1.3rem;
    color: #343433;
    font-family: inherit;
    height: 4rem;
    margin-bottom: 1.5rem; }
    .form__input--name {
      display: inline-block;
      width: 46%;
      margin-right: 2rem; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid #0044a0; }
    .form__input:focus:invalid {
      border-bottom: 1px solid #ffa500; }
    .form__input::-webkit-input-placeholder {
      color: #343433;
      text-transform: capitalize; }
  .form__textarea {
    width: 95%;
    border: 1px solid #cfd4d8;
    background-color: #ffffff;
    padding: .65rem;
    font-size: 1.3rem;
    color: #343433;
    font-family: inherit;
    margin-bottom: 1.5rem; }
    .form__textarea:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid #0044a0; }
    .form__textarea:focus:invalid {
      border-bottom: 1px solid #ffa500; }
    .form__textarea::-webkit-input-placeholder {
      color: #343433;
      text-transform: capitalize; }
  .form__submit {
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 1.5rem 4rem;
    text-decoration: none;
    border: none;
    border-radius: 7px;
    display: inline-block;
    text-shadow: 0 0.1rem 0 #000000;
    font-weight: 700;
    box-shadow: inset 0 0.5px 0 0 #000000;
    background-color: #ffa500;
    color: #ffffff; }

.row {
  max-width: 120rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
  .row:not(:last-child) {
    margin-bottom: 10rem; }
  .row .col-1-of-2 {
    width: calc((100% - 3rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3rem) / 3); }
  .row .col-2-of-3 {
    width: calc((((100% - 2 * 3rem) / 3) * 2) + 3rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 3rem) / 4); }
  .row .col-3-of-4 {
    width: calc((((100% - 3 * 3rem) / 4) * 3) + 2 * 3rem); }

.info-block {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10rem; }
  .info-block__one {
    height: 50rem;
    width: 40%;
    background-color: #151515;
    padding: 5rem;
    display: flex;
    flex-direction: column; }
    .info-block__one .heading-secondary {
      margin-bottom: auto; }
  .info-block__two {
    height: 50rem;
    width: 40%;
    background-color: #151515;
    padding: 5rem;
    display: flex;
    flex-direction: column; }
    .info-block__two .heading-secondary {
      margin-bottom: auto; }

.info-image {
  width: 100%;
  height: 100%; }

.teammate {
  display: flex;
  justify-content: space-between; }
  .teammate__details {
    width: 20%; }
  .teammate__photo {
    background-image: url("../img/passport.jpg");
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 28rem;
    margin-bottom: 2rem; }
  .teammate__designation {
    color: #c1c1c1;
    font-size: 1.8rem;
    text-transform: capitalize;
    margin-top: -1rem; }
  .teammate--one {
    margin-bottom: 10rem; }

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%; }
  .text-box--contact {
    text-align: left;
    padding: 1rem 0rem;
    width: 70%; }

.story-text {
  width: 90%; }

.header {
  padding: 1.5rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2); }
  .header__logo-img {
    width: 45%; }
  .header__navigation-list {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: space-between;
    align-items: center; }
  .header__navigation-item {
    margin-left: 6rem; }
  .header__navigation-link {
    text-decoration: none;
    color: #333333;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 400; }
    .header__navigation-link--button {
      background-color: #ffa500;
      color: #ffffff;
      padding: 1rem 3rem;
      border-radius: 7px;
      white-space: nowrap;
      text-shadow: 0 0.1rem 0 #000000;
      box-shadow: inset 0 0.5px 0 0 #000000;
      transition: all .2s ease; }
      .header__navigation-link--button:hover {
        background-color: #d4a011; }

.section-form {
  padding: 10rem 10rem;
  display: flex;
  justify-content: space-around; }
  .section-form .contact__email {
    text-decoration: none;
    font-size: 1.8rem;
    display: inline-block;
    margin-bottom: .2rem; }
  .section-form .contact__tel {
    text-decoration: none;
    font-size: 1.8rem; }

.section-detail {
  padding: 10rem 10rem; }

.section-team {
  background-color: #151515;
  padding: 15rem 10rem; }

.section-more {
  padding: 10rem 10rem; }

.section-hero {
  position: relative;
  height: 75vh; }
  .section-hero--contact {
    height: 60vh; }

.section-story {
  padding: 5rem 7rem;
  width: 80%;
  margin: auto;
  background-color: #323234; }

/*
.section-phylosophy{
    padding: 15rem 7rem;

    .phylosophy-image{
        width: 100%;
    }

    .phylosophy-text{
        display: flex;
        height: 45rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


*/
.section-about {
  padding: 10rem 0; }
  .section-about .about-image {
    width: 100%;
    height: 38rem; }
    .section-about .about-image--one {
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem; }
    .section-about .about-image--two {
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem; }
  .section-about .about-description {
    margin-top: 8rem; }

.section-info {
  padding: 10rem 0;
  background-color: #333; }
